.trigger {
  cursor: pointer;
  display: flex;

  &[data-state='open'] {
    color: var(--color-accent-500);
  }
}

.content {
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;

  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  animation: scale-in 0.5s ease-out;
}

.itemIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  outline: none;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
