.trigger {
  cursor: pointer;
  display: flex;

  &[data-state='open'] {
    color: var(--color-accent-500);
  }
}

.content {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  display: flex;
  flex-direction: column;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  animation: scale-in 0.5s ease-out;
}

.item {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 12px;

  &:active {
    background-color: rgb(115 165 255 / 15%);
  }

  &:hover {
    background-color: rgb(35 78 153 / 15%);
  }

  &:disabled {
    color: var(--color-dark-300);
    border-bottom: 2px solid var(--color-dark-300);
  }

  &:focus-visible {
    color: inherit;
    outline: none;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
