.wrapper {
  display: flex;
  gap: 24px;
}

.containerPages {
  display: flex;
  gap: 12px;
  align-items: center;
  width: fit-content;
  height: 24px;
  & > .elemPage {
    padding: 0;
    font-size: var(--font-size-s);
    background-color: transparent;
    outline-width: 2px;
    width: 24px;
    height: 24px;
    font-weight: var(--font-weight-400);
    &:hover {
      background-color: var(--color-dark-500);
    }
  }
  & > .activePage {
    background-color: var(--color-light-100);
    color: var(--color-dark-900);
    &:hover {
      background-color: var(--color-light-100);
    }
  }
}

.container {
  display: flex;
}

.selectContainer {
  display: flex;
  margin-left: 4px;
  margin-right: 7px;
  & > div > button {
    box-sizing: border-box;
    padding: 0;
    padding-left: 6px;
    width: 50px;
    height: 24px;
    font-size: var(--font-size-s);
  }
}

.icon {
  margin-top: 12px;
  width: 24px;
  height: 12px;
}

.iconArrow {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
