<div class="root">
	<div class="months">
		<nav class="nav">
			<button class="PreviousMonthButton"></button>
			<button class="nextMonthButton"></button>
		</nav>
		<div class="month">
			<div class="monthCaption">
				<span></span>
			</div>
			<table class="rdp-month_grid">
				<thead>
				<tr class="rdp-weekdays">
					<th class="rdp-weekday"></th>
					<th class="rdp-weekday"></th>
					<th class="rdp-weekday"></th>
					<th class="rdp-weekday"></th>
					<th class="rdp-weekday"></th>
					<th class="rdp-weekday"></th>
					<th class="rdp-weekday"></th>
				</tr>
				</thead>
				<tbody class="rdp-weeks">
				<tr class="rdp-week">
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
				</tr>
				<tr class="rdp-week">
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
				</tr>
				<tr class="rdp-week">
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day rdp-today"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
				</tr>
				<tr class="rdp-week">
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
				</tr>
				<tr class="rdp-week">
					<td class="rdp-day"></td>
					<td class="rdp-day"></td>
					<td class="rdp-day rdp-hidden rdp-outside"></td>
					<td class="rdp-day rdp-hidden rdp-outside"></td>
					<td class="rdp-day rdp-hidden rdp-outside"></td>
					<td class="rdp-day rdp-hidden rdp-outside"></td>
					<td class="rdp-day rdp-hidden rdp-outside"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="rdp-footer"></div>
</div>