.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 378px;
}
