.container {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
}
.text {
  color: var(--color-light-900);
  margin: 7px 0 41px;
}
.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}