.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.title,
.caption {
  width: 100%;
  max-width: 290px;
  text-align: center;
}

.button {
  min-width: 180px;
  margin-top: 34px;
}

.image {
  margin-top: 50px;
}
