.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.button {
  width: 100%;
  max-width: 180px;
  margin-top: 34px;
}

.image {
  margin-top: 50px;
}
