.content {
    width: fit-content;
}

.header {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    height: 503px;
    padding: 0;
}

.imageContainer {
    width: 490px;
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;

  padding: 24px;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
  }

  .profileName {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .avatar {
    margin-right: 12px;
  }
  
  .blankImage {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
  
  .textField {
    resize: none;
    width: 433px;
    height: 120px;
    background-color: var(--color-dark-500);
  }
  
  .smallText {
    position: absolute;
    top: 227px;
    left: -25px;
  
    width: 100%;
  
    color: var(--color-light-900);
    text-align: end;
  }

  .button {
    align-items: end;
    padding: 6px 12px;
  }