.rootClass {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: var(--border-radius-xs);
  height: 48px;
  width: 387px;
  position: relative;

  &.success {
    background-color: var(--color-success-900);
    border: 2px solid var(--color-success-500);
    .progressBar {
      background-color: var(--color-success-500);
    }
  }

  &.error {
    background-color: var(--color-danger-900);
    border: 2px solid var(--color-danger-500);
    .progressBar {
      background-color: var(--color-danger-500);
    }
  }

  &.info {
    background-color: var(--color-accent-900);
    border: 2px solid var(--color-accent-500);
    .progressBar {
      background-color: var(--color-accent-500);
    }
  }

  &.warning {
    background-color: var(--color-warning-900);
    border: 2px solid var(--color-warning-500);
    .progressBar {
      background-color: var(--color-warning-500);
    }
  }

  .contentWrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  .progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    animation: progressBar var(--animation-duration, 5s) linear forwards;
  }
}

.closeButton {
  display: flex;
  cursor: pointer;
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
