.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 378px;
  padding: 24px;
  gap: 37px;
}

.overlay {
  &[data-state='open'] {
    opacity: 0.6;
  }
}
