.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.container {
  padding: 0;
  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
  width: 378px;
}
.header {
  border-bottom: 1px solid var(--color-dark-100);
  display: flex;
  justify-content: space-between;
  padding: 11px 24px;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 30px 24px;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 18px;
}
