:root {
  /* border radius */
  --border-radius-rounded: 50%;
  --border-radius-s: 0.25rem;
  --border-radius-xs: 0.125rem;
  --border-radius-xxs: 0.065rem;
  --border-radius-m: 0.375rem;
  --border-radius-l: 0.625rem;

  /* border width */
  --border-width-s: 1px;
  --border-width-m: 2px;

  /* Header */
  --header-height: 60px;

  /* max-width */
  --max-width-desktop: 1280px;

  /* font-size */
  --icon-size-m: 24px;
  --icon-size-l: 36px;
}
