:root {
  --font-family-primary: 'Inter', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;

  // line heights
  --line-height-xs: 8px;
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  /* font-sizes */
  --font-size-xxxs: 8px;
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 26px;

  // font weights
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
