.content {
  width: 380px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  padding: 30px 24px 18px;
}

.footer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

.button {
  padding: 6px 36px;
}
