.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.iconSearch {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  width: 20px;
  height: 20px;

  color: var(--color-light-900);
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-light-900);
}

.clearIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.inputContainer:focus-within .iconSearch,
.inputContainer:focus-within .icon,
.inputContainer:focus-within .clearIcon {
  color: inherit;
  transition: color 0.3s ease;
}

.input {
  all: unset;

  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-m);

  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  caret-color: var(--color-light-100);

  transition: border-color 0.3s ease;

  &::placeholder {
    font-style: italic;
    color: var(--color-dark-300);
  }

  &:focus {
    outline: 1px solid var(--color-accent-500);
    outline-offset: 2px;
  }

  &:hover {
    border: 1px solid var(--color-light-900);
  }

  &:disabled {
    pointer-events: none;
  }

  &.search {
    padding-right: 40px;
    padding-left: 40px;
  }

  &.text {
    padding-right: 12px;
  }

  &.password {
    padding-right: 32px;
  }
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:hover {
  box-shadow: 0 0 0 30px var(--color-dark-700) inset;

  -webkit-text-fill-color: var(--color-light-100);
}

.input input[type='search']::-webkit-search-cancel-button {
  display: none;
  appearance: none;
}

.passwordControl {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: none;

  padding: 0;

  background: none;
  border: none;

  &:hover {
    background: none;
  }
}

.showIcon {
  display: flex;
}

.error {
  color: var(--color-danger-500);
  border-color: var(--color-danger-500);
}

.disabled {
  cursor: default;
  color: var(--color-dark-100);
}
