.publicationsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;

  max-width: var(--max-width-desktop);
  margin: 0 auto;
}

.post {
  position: relative;
  width: 234px;
  height: 228px;
}
