.socials {
  display: flex;
  gap: 60px;
  justify-content: center;
  width: 100%;
}

.socialsButton {
  &:hover {
    color: inherit;
  }

  &:focus {
    border-radius: var(--border-radius-rounded);
    outline-offset: 4px;
  }
}

.icon {
  width: var(--icon-size-l);
  height: var(--icon-size-l);

  &:hover {
    cursor: pointer;
  }
}
