.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 64px 20px 60px;
  border-bottom: 1px solid var(--color-dark-300);
}
.container {
  display: flex;
  align-items: center;
}
.select {
  border: 1px solid white;
  width: 163px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
