.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.body {
  display: flex;
  height: 503px;
  padding: 0;
}

.imageContainer {
  width: 490px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  background-color: var(--color-dark-300);
  border-bottom: 1px solid var(--color-dark-100);
}

.profileName {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.avatar {
  margin-right: 12px;
}

.textField {
  resize: none;
  width: 433px;
  height: 120px;
  background-color: var(--color-dark-500);
}

.smallText {
  position: absolute;
  top: 227px;
  left: -25px;

  width: 100%;

  color: var(--color-light-900);
  text-align: end;
}
