.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.body {
  position: relative;
  width: 492px;
  height: 503px;
  padding: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  position: absolute;
  z-index: 1;
  right: 11px;
  bottom: 49px;

  display: flex;
  gap: 12px;
  align-items: flex-start;

  padding: 12px;

  background-color: rgb(17 17 17 / 80%);
}

.imagesContainer {
  display: flex;
  gap: 12px;
  max-width: 400px;
}

.scroll {
  padding-bottom: 5px;
}

.smallImageContainer {
  position: relative;
  display: flex;
}

.smallImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.closeIcon {
  position: absolute;
  top: 2px;
  right: 2px;

  background-color: rgb(17 17 17 / 80%);
  border-radius: 2px;
}

.icon {
  position: absolute;
  z-index: 1;
  right: 11px;
  bottom: 11px;

  padding: 6px;

  background-color: rgb(17 17 17 / 80%);
  border-radius: 2px;

  &.iconActive {
    color: var(--color-accent-500);
  }
}
