.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.body {
  position: relative;
  width: 492px;
  height: 503px;
  padding: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  position: absolute;
  z-index: 1;
  right: 11px;
  bottom: 11px;

  padding: 6px;

  background-color: rgb(17 17 17 / 80%);
  border-radius: 2px;

  &.iconActive {
    color: var(--color-accent-500);
  }
}
