.content {
  width: 972px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.postInfoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}
