.container {
  margin-top: 35px;
  position: relative;
}

.btnContainer {
  display: flex;
  justify-content: end;
}

//modal

.modalCardContainer {
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.mod {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.modalCard {
  width: 972px;
  height: 564px;
  padding: 0;
  position: relative;
}

.modalCloseIcon {
  position: absolute;
  top: -18px;
  right: -12px;
  transform: translate(50%, -50%);
}

.postContainer {
  display: flex;
}

.carouselContainer {
  width: 490px;
}

.urlProfileContainer {
  padding: 12px 24px;
  border-bottom: 1px solid var(--color-dark-100);
}

//profile

.headerContainer {
  display: flex;
  gap: 38px;
  margin-bottom: 53px;
}

.image {
  width: 204px;
  height: 204px;
  border-radius: 50%;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.followingContainer {
  display: flex;
  flex-direction: column;
}

.profileInfoContainer {
  display: flex;
  gap: 88px;
  margin: 20px 0 23px;
}

.postsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.postImage {
  width: 234px;
  height: 228px;
}
