.content {
  width: 380px;
}

.overlay {
  &[data-state='open'] {
    opacity: 0.5;
  }
}

.header {
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 6px 36px;
}
