.content {
  width: 380px;
}

.overlay {
  &[data-state='open'] {
    opacity: 1;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  padding: 6px 36px;
}
