.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 380px;
  padding: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
