.root {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-400);
}

.label {
  margin-bottom: 10px;
  color: var(--color-light-900);
}

.inputContainer {
  position: relative;
}

.iconStart {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  color: var(--color-light-900);
}

.iconStart svg {
  width: 20px;
  height: 20px;
}

.focusedIconStart {
  color: inherit;
  transition: color 0.3s ease;
}

.iconEnd {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.input {
  all: unset;

  box-sizing: inherit;
  width: 100%;
  min-width: 280px;
  height: 36px;
  margin-bottom: 5px;
  padding: 6px 12px;

  font-size: var(--font-size-m);

  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;

  transition: border-color 0.3s ease;

  &::placeholder {
    color: var(--color-light-900);
  }

  &:focus::placeholder {
    color: transparent;
  }

  /* &:focus-visible {
    border: 1px solid var(--color-accent-500);
  } */

  &:focus {
    border: 1px solid var(--color-light-100);
  }

  &:hover {
    border: 1px solid var(--color-light-900);
  }

  &[data-icon*='start'] {
    padding-left: 40px;
  }
}

.inputFocusVisible {
  border: 1px solid var(--color-accent-500);
}

.error {
  border-color: var(--color-danger-500);
}

.errorMessage {
  color: var(--color-danger-500);
}

.disabled {
  color: var(--color-dark-100);
  fill: var(--color-dark-100);

  &::placeholder {
    color: var(--color-dark-100);
  }
}
