.root{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}
.avatar{
  position: relative;
}
.deleteBtnWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 18px;
  width: 20px;
  height: 20px;
  background-color: var(--color-dark-900);
  border-radius: var(--border-radius-rounded);
}
.deleteBtn{
  background-color: var(--color-danger-500);
  border-radius: var(--border-radius-rounded);
}

.closeIcon{
  width: 16px;
  height: 16px;
}
/*dialog*/

.dialogContent{
  width: 100%;
  max-width: 492px;
}
.dialogHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialogBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:36px;
}
.blankImage{
  margin-top: 28px;
}
.fileBtn{
  padding: 6px 36px;
}
.btnWrapper{

}
.sliderRoot{
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 200px;
  height: 20px;
}
.track{
  position: relative;

  flex-grow: 1;

  height: 3px;

  background-color: rgb(255 255 255 / 25%);
  border-radius: 9999px;
}
.range{
  position: absolute;
  height: 100%;
  background-color: white;
  border-radius: 9999px;
}
.thumb{
  display: block;

  width: 12px;
  height: 12px;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(248 242 242 / 0%);
}
.thumb:hover {
  box-shadow: rgb(25 118 210 / 16%) 0 0 0 8px;
}

.thumb:focus {
  outline: none;
}
.blankImageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.errorContainer{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 36px;

  text-align: center;

  background-color: var(--color-danger-900);
  border: var(--border-size-standard) solid var(--color-danger-500);
  border-radius: var(--border-radius-xxs);
}
.error{
  color: var(--color-light-100);
}